<!-- start: Main Menu -->
<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a href="test.jhtml"><i class="icon-align-justify"></i><span class="hidden-tablet"> Banners</span></a></li>
        </ul>
    </div>
</div>
<!-- end: Main Menu -->