
$pageModule.init("app/account/account", "initEdit")

<form method="post" enctype="multipart/form-data" action=""
      id="account-form">

    <input name="action" type="hidden" value="account/account_action"/>
    <input type="hidden" name="event_submit_do_edit" value="anything"/>

	<input type="hidden" id="id" name="id" value="$!account.id">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">账号信息</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-3"><span class="red">*</span>帐号</label>

                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="userCode" name="userCode"
                                           value="$!account.userCode" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-3"><span class="red">*</span>昵称</label>

                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="userName" name="userName"
                                           value="$!account.userName" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">密码</label>

                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="password" name="password"
                                           value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">确认密码</label>

                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="rePassword"
                                           name="rePassword"
                                           value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">邮箱</label>

                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="email" name="email"
                                           value="$!account.email">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">手机</label>

                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="mobile" name="mobile"
                                           value="$!account.mobile">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">真实姓名</label>

                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="realName" name="realName"
                                           value="$!account.realName">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">公司/单位</label>

                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="department" name="department"
                                           value="$!account.department">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">权限信息</h3>
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">功能权限</label>

                                <div class="col-md-9">
                                    <input type="text" class="" id="roleId" name="roleIdList" data-json='$!account.roleJsonStr'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button class="btn btn-info submit-btn" type="button">保存</button>
                </div>

            </div>
        </div>
    </div>
</form>