$pageModule.init("app/newperson/course", "list")

#set($show_path = ${configuration.getProperty("urlPath","show_path")})
<input type="hidden" id="show_path" value="$show_path">

<!-- 查询 -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default search">
            <div class="panel-heading">
                <h3 class="panel-title">查询条件</h3>
            </div>
            <div class="panel-body">
                <div class="row form ">
                    <div class="form-group col-md-3 col-xs-12">
                        <label>类别&nbsp;</label><br>
                        <input type="hidden" class="courseTypeSelect" id="courseTypeSelect" />
                    </div>

                    <div class="form-group col-xs-12 col-md-3">
                        <label for="userCode">标题: </label>
                        <input type="text" placeholder="标题" id="courseTitle" class="form-control">
                    </div>
                    <div class="form-group col-xs-12 col-md-3">
                        <label>&nbsp;</label>
                        <div class="control">
                            <button class="btn btn-primary search-data">查询</button>
                            <button class="btn btn-default reset-data">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 列表 -->
<div class="data-list" style=""></div>

<!-- 添加、编辑 -->
<div class="hidden" id="dialog">
    <div class="form-body">
        <div class="circleTextclass">
            <div class="form-group col-sm-12">
                <label class="col-md-3 control-label">类别</label>
                <div class="input-group col-md-8">
                    <input type="hidden" id="id">
                    <input type="text" class="form-control courseTypeId">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-3 control-label">标题</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control courseTitle" placeholder="标题">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-3 control-label">副标题</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control courseSubtitle" placeholder="副标题">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-3 control-label">建议学习时长</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control suggestStudyTime" placeholder="建议学习时长">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-3 control-label">虚拟学习人数</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control virtualStudyPerson" placeholder="虚拟学习人数" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-3 control-label">虚拟测试人数</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control virtualTestPerson" placeholder="虚拟测试人数" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-3 control-label">虚拟通关人数</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control virtualPassPerson" placeholder="虚拟通关人数" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-3 control-label">难度星级</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control difficultyStar" placeholder="难度星级" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-3 control-label">排序</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control sort" placeholder="排序" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-3 control-label">图标</label>
                <div class="input-group col-md-8">
                    <div class="col-sm-6">
                        <div class="">
                            <div class="uploadImg">
                                <li style="display: inline-block; margin-right: 3px;">
    		                        <span style="display: inline-block;border: 1px solid #ddd;padding: 3px 5px;">
                		            <img style="height: 100px;width: 100px;" src="" data-url="" data-id="" class="picUrl">
    		                        <a class="btn btn-primary remove-img">删除</a>
    		                        </span>
                                </li>
                                <a class="btn btn-primary infos-images">上传图片</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 商品价格列表 -->
<div class="course_ppt_list" style="display: none;">
    <div class="page-toolbar" style="float: right; margin-top: -20px; margin-bottom: 10px;">
        <div class="btn-group page-toolbar-list ppt_toolbar"></div>
    </div>
    <div class='ppt_list'>
    </div>
</div>

<!-- 添加商品价格 -->
<div class="course_ppt_add_dialog" style="display: none;">
    <div class="row">
        <div class="form-group col-sm-12">
            <label class="col-md-3 control-label">段落标题</label>
            <div class="input-group col-md-8">
                <input type="hidden" id="ppt_id">
                <input type="text" class="form-control paragraphTitle" placeholder="段落标题">
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-md-3 control-label">段落内容</label>
            <div class="input-group col-md-8">
                <textarea class="form-control paragraphContext" cols ="50" rows = "5"></textarea>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-md-3 control-label">排序</label>
            <div class="input-group col-md-8">
                <input type="text" class="form-control sort" placeholder="排序">
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-md-3 control-label">图片</label>
            <div class="input-group col-md-8">
                <div class="col-sm-6">
                    <div class="">
                        <div class="uploadImg2">
                            <li style="display: inline-block; margin-right: 3px;">
    		                        <span style="display: inline-block;border: 1px solid #ddd;padding: 3px 5px;">
                		            <img style="height: 100px;width: 100px;" src="" data-url="" data-id="" class="picUrl2">
    		                        <a class="btn btn-primary remove-img">删除</a>
    		                        </span>
                            </li>
                            <a class="btn btn-primary infos-images2">上传图片</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>