<!DOCTYPE html>
<html lang="zh-CN">
<head>
   #set( $static_path = ${configuration.getProperty("urlPath","static_path")})
  #set( $bxj_path = ${configuration.getProperty("urlPath","bxj_path")})
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="format-detection" content="telephone=no">
	<title>冠军论坛</title>
	<meta name="keywords" content="冠军论坛">
	<meta name="description" content="冠军论坛">
	<link rel="stylesheet" type="text/css" href="$static_path/bxj_three/public/css/public.css">
	<link rel="stylesheet" type="text/css" href="$static_path/bxj_three/static/theNew/css/ppt.css">
	<link href="$static_path/bxj_three/static/theNew/js/photoswipe.css" type="text/css" rel="stylesheet" />
	<script src="$static_path/bxj_three/public/js/flexible.js"></script>
	<script>var bxj_path = '$bxj_path', static_path = '$static_path';</script>
	<!--[if lt IE 9]>
	    <script src="http://html.baobao18.com/wechat/js/html5.js"></script>
	<![endif]-->

</head>
<body>
	<!--导航 开始 onclick="shareNewPeopleInfo()" -->
   <div id="courseTitleID">
	 
   </div>
	<!-- 导航 结束-->
	<div class="container container_forum" >
		<div class="hd clearfix">
			<div class="teacher">
				<h2>$!summitClass.title</h2>
				<h3><span class="name">$!summitClass.teacherName</span><span class="viewnum">
				 #if($!summitClass.playCount <= 10000)
                    <label id="playCount">$!summitClass.playCount</label>
				#elseif($!summitClass.playCount > 10000 && $!summitClass.playCount <= 100000000)
					#set($playCount1 = $!summitClass.playCount+"")
					#set($length1=$playCount1.length())
					#set($length2=($length1) - 4)
					#set($playCount2 = $playCount1.substring(0, $length2))
					#set($length3=($length1) - 3)
					#set($playCount3 = $playCount1.substring($length2, $length3))
					#if("0"==$playCount3)
						$playCount2万次播放
					#else
						$playCount2.$playCount3万次播放
					#end
				#elseif($!summitClass.playCount > 100000000)
					#set($playCount1 = $!summitClass.playCount+"")
					#set($length1=$playCount1.length())
					#set($length2=($length1) - 8)
					#set($playCount2 = $playCount1.substring(0, $length2))
					#set($length3=($length1) - 7)
					#set($playCount3 = $playCount1.substring($length2, $length3))
					#if("0"==$playCount3)
						$playCount2亿次播放
					#else
						$playCount2.$playCount3亿次播放
					#end
				#end
				 </span></h3>
			</div>
		</div>
		<div class="img_block" >

		</div>

	</div>
	<div id="share_id1"> <a class="share_block_ppt" href="javascript:window.location.href='http://a.app.qq.com/o/simple.jsp?pkgname=com.hangjia.insurancemaster';"></a> </div>
	<a href="javascript:;" class="top_icon" id="fixnav"></a>
</body>
</html>
<script src="$static_path/bxj_three/public/js/jquery.min.js"></script>
<script src="$static_path/bxj_three/public/js/public.js"></script>
<script src="$static_path/bxj_three/static/theNew/js/lazeload.min.js"></script>
<script type="text/javascript" src="$static_path/bxj_three/static/theNew/js/klass.min.js"></script>
<script type="text/javascript" src="$static_path/bxj_three/static/theNew/js/code.photoswipe.jquery-3.0.5.min.js"></script>
<script>
	var link = window.location.href;
	var _sharePara = {
			title : '$!summitClass.title',
			desc :  '我正在保险家学习中国保险冠军论坛讲师课件，快来一起学习！',
			image : '$!summitClass.imgFileUrl',
			location : link.replace('shareios','share')
	};
$(function(){
	 var dom='';
	 
	 jQuery.ajax({
			url: 'getImgs.json',
			data: {
				classId: '$!summitClass.id'
			},
			success: function(json) {
			    var jsArrs=[];
				var r = json;
			    jsArrs = r.model.showImages;
				for (var i = 0; i < jsArrs.length; i++) {
					 dom+='<div class="img_div"><img class="lazy" src="$static_path/bxj_three/static/theNew/image/load.png" data-original="'+jsArrs[i]+'"></div>';					 
				}
			},
			complete: function() {
			    $('.img_block').append(dom);

				$("img.lazy").lazyload({
				    effect : "fadeIn",
				    threshold : 200,
				    container: $(".container")
				});
			
				$('.top_icon').click(function(event) {
					$('.container').animate({
						'scrollTop':0
					}, 500);
				});
				
			    $('.img_block .img_div img').each(function(i,o){
			        o=$(o);
			        o.wrap('<a href="'+o.attr('data-original')+'"></a>');
				})
				var myPhotoSwipe = $(".img_block .img_div a").photoSwipe({ enableMouseWheel: false , enableKeyboard: false });
			}
		});
	
})
</script>
<script type="text/javascript" src="$static_path/index/js/share.js?v=11"></script>
<script type="text/javascript" src="$static_path/bxj_three/static/championforum/js/detail2.js?v=8885"></script>
<script>

var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?0d4ab9d363c7398f80de1e881dc6543c";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();
</script>