<!--头部 开始-->
$pageModule.init("app/app/headlineBanner", "list")
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="portlet-config" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"></button>
                <h3>portlet Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here will be a configuration form</p>
            </div>
        </div>
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->

			<div class="data-list">
			</div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->


</div>

<!--底部 结束-->

<div class="headline-banner-tpl hidden">
    <div class="form-body">
		<div class="form-group col-sm-12">
			<label class="col-md-3 control-label">banner标题</label>
			<div class="input-group col-sm-8">
				<input type="text" class="form-control" id="title" placeholder="标题不超过18字">
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-md-3 control-label">图片</label>
			<div class="input-group">
            <div class="col-sm-6">
                <div class="">
				    <div class="uploadImg">
						<li style="display: inline-block; margin-right: 3px;" >
    		            <span style="display: inline-block;border: 1px solid #ddd;padding: 3px 5px;">
    		            <img style="height: 100px;width: 100px;" src="" data-url="" data-id="" class="picUrl">
    		            <a class="btn btn-primary remove-img">删除</a>
    		            </span></li>
						<a class="btn btn-primary infos-images">上传图片</a>
						<p class="text-danger">注意：图片尺寸限制：750 x 250</p>
                	</div>
                </div>
            </div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-md-3 control-label">跳转页面url</label>
			<div class="input-group col-sm-6">
				<input type="text" class="form-control pageUrl" placeholder="">
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-md-3 control-label">是否上架</label>
			<div class="input-group">
                <select class="form-control isDisplay ">
                    <option disabled='disabled' value="0" selected>请选择</option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-md-3 control-label">排序</label>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="" id="sort">
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-md-3 control-label">上线时间</label>
			<div class="input-group">
				<input type="text" class="form-control onlineTime" placeholder="">
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label class="col-md-3 control-label">无限期</label>
			<div class="input-group">
                <input type="checkBox" class="timeBox" placeholder="">&nbsp; (2030-12-31)</input>
			</div>
		</div>
		<div class="form-group timeFlag col-sm-12">
			<label class="col-md-3 control-label">下线时间</label>
			<div class="input-group">
				<input type="text" class="form-control offlineTime" placeholder="">
			</div>
		</div>
	</div>
</div>

