$pageModule.init("app/report/xrtDataReport", "list")

<div class="row">
    <div id="xrt" style="width: 100%; min-height:300px;"></div>
</div>
<div class="row">
    <div id="test" style="width: 100%; min-height:300px;"></div>
</div>
<div class="row">
    <div id="clearance" style="width: 100%; min-height:300px;"></div>
</div>

<!-- 查询 -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default search">
            <div class="panel-heading">
                <h3 class="panel-title">查询条件</h3>
            </div>
            <div class="panel-body">
                <div class="row form ">
                    <div class="form-group col-xs-12 col-md-3">
                        <label for="userCode">日期: </label>
                        <input type="text" class="form-control reportTime" >
                        <input type="hidden" class="startTime"/>
                        <input type="hidden" class="endTime"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-3">
                        <label>&nbsp;</label>
                        <div class="control">
                            <button class="btn btn-primary search-data">查询</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 列表 -->
<div class="data-list" style=""></div>