<div class="common_info">
	<h1 class="assured_info_title tbxz_title">投保选择</h1>
	<ul class="common-info-ul">
	<div class="main_insure_product_div" data-pid="181" data-jbbe="$!product.jbbe" data-cpjc="保驾护航" data-table="0">
		<li class="info-item main_line_height">
			<label class="info-name">保障期限</label>
			<select class="factor" name="bxnx">
				<option value="50">保障30年</option>
				<option value="47">保障20年</option>
			</select>
			<span class="arrowr"></span>
		</li>
		<li class="info-item main_line_height">
			<label class="info-name">缴费期限</label>
			<select class="factor" name="jfnx">
				<option value="9">10年交</option>
				<option value="8">5年交</option>
				<option value="19">3年交</option>
				<option value="7">趸交</option>
			</select>
			<span class="arrowr"></span>
		</li>
		<li class="info-item main_line_height">
			<label class="info-name">份数</label>
			<select class="factor" name="be">
				<option value="100000">1份</option>
				<option value="200000">2份</option>
				<option value="300000">3份</option>
				<option value="400000">4份</option>
			</select>
			<span class="arrowr"></span>
			<!--
			<input type="tel" placeholder="请输入保额" value="" class="demo_price factor" name="be" maxlength="15"/>
			<i class="icon">元</i>
			<span class="error-tips" style="display:none;"></span>
			-->
		</li>
	</div>
	<li class="main_item li_table_0" style="display:none">
		<div class="creatDes_header">
			<span class="createDes-title">
				<em>保驾护航</em>
				<em class="price"></em>
			</span>
			<span class="createDes-btn">
				<a class="main_edit_btn" data-table="0">修改</a>
			</span>
		</div>
		<table class="createDes-table">
		<thead>
			<tr>
				<td>险种</td>
				<td>保额</td>
				<td>保费</td>
				<td>保障期限</td>
				<td>缴费期限</td>
			</tr>
		</thead>
		<tbody></tbody>
		</table>
	</li>
	#parse("product/addzx.vm")
	</ul>
</div>