		<ul class="common-info-ul">
			<li class="main_item">
				<div class="creatDes_header">
					<span class="createDes-title verticalmiddle">
						<em>尊宏人生</em>
					</span>
					<span class="creatDes-add-btn" data-layer="mainLayer" data-enable="#btnAddon,#btnAddMore"> 
						<em class="add_icon"></em>
						<em class="add_font">添加主险</em>
					</span>
				</div>
			</li>
			
			<li class="main_item">
				<div class="creatDes_header">
					<span class="createDes-title verticalmiddle">
						<em>附加险</em>
					</span>
					<span class="creatDes-add-btn" id="btnAddon" data-layer="fjx-layer" data-title="附加险" data-products="['zyjt', 'zyyl', 'ywyl']"> 
						<em class="add_icon"></em>
						<em class="add_font">添加附加险</em>
					</span>
				</div>
			</li>
			
			<li class="main_item">
				<div class="creatDes_header">
					<span class="createDes-title verticalmiddle">
						<em>险种组合</em>
					</span>
					<span class="creatDes-add-btn" id="btnAddMore" data-layer="zhx-layer" data-title="险种组合" data-products="['xinli', 'xinsheng', 'xinxiang', 'ankang', 'anxiang', 'xingfuA']"> 
						<em class="add_icon"></em>
						<em class="add_font">添加险种</em>
					</span>
				</div>
			</li>
			
		</ul>
		
		#parse("product/product.pa.vm")
		<script>
			$(function() {
				bxj.PlanBook.init({
					gs: 'PingAn',
					title: '尊宏人生',
					autoRefresh: true,
					BeiBaoRen: {
						age: {
							min: 0,
							max: 65,
						}
					},
					
					TouBaoRen: {
						age: {
							max: 75
						}
					}
				});
			});
			
		</script>
		
		#set($footer = '
		
	<div id="mainLayer" class="popup-layer" style="display: none" data-product="zhrs">
	    <form class="popup-form-layer">
	        <div class="popup-layer-title">尊宏人生</div>
	        <ul class="popup-layer-ul">
	            <li data-commons>
	                <label class="info-name" for="zhrs-jfnx">缴费期间</label>
	                <select id="zhrs-jfnx" name="jfnx" class="factor" text-name="zhrs-jfnx" data-jfnx="[10,5,3]">
	                </select>
	                <span class="arrowr"></span>
	                <input type="hidden" name="bxnx" value="6">
	            </li>
	            <li data-calc="zhrs">
	                <label class="info-name" for="zhrs-be">保额</label>
	                <input value="15000" data-vali="min" data-min="1000" data-min-msg="主险保额不得低于1千" id="zhrs-be" pattern="[0-9]*" name="be" maxlength="7">
	                <i class="icon">元</i>
	                <input type="hidden" name="pid" value="44">
	            </li>
	            
	            <li data-calc="zhrs-tbrhm" data-toubaoren id="zhrs-tbrhm">
	                <dl>
	                    <dt>
	                        <input id="zhrs-hm" class="checkbox-single" type="checkbox" data-enhance="tbrhm">
	                        <label for="zhrs-hm">投保人豁免<em class="notes">（非本人可附加）</em></label>
	                    </dt>
	                    <dd>
	                        <input id="paf-hmB" class="radio_box" name="pid" type="radio" value="246" checked>
	                        <label class="mrg-right-2" for="paf-hmB">豁免B加强</label>
	                        <input id="paf-hmA" class="radio_box" name="pid" type="radio" value="245">
	                        <label for="paf-hmA">豁免A14</label>
	                        <input type="hidden" name="bxnx" value="6">
	                    </dd>
	                </dl>
	            </li>
	            
	            <li data-calc="zhrs-tbrhm-s" data-toubaoren s data-ref="#zhrs-tbrhm">
	            	
	                <dl>
	                    <dt>
	                        <input id="zhrs-hm-s" class="checkbox-single" type="checkbox">
	                        <label for="zhrs-hm-s">投保人双豁免</label>
	                    </dt>
	                    <dd>
	                    	<label class="info-name" for="shuanghuomian-age">配偶年龄</label>
			                <select class="factor" name="age" id="shuanghuomian-age">
			                </select>
			                <span class="arrowr"></span>
	                    </dd>
	                </dl>
	                
	            </li>
	            
	        </ul>
	        <div class="popup-layer-btn">
	            <span class="popup-layer-cancel-btn" data-cancel>取消</span><span class="popup-layer-ok-btn" data-ok>确定</span>
	        </div>
	    </form>
	</div>
		')